.product-list-container {
    display: flex;
    flex-direction: column;
}

.product-list {
    display: flex;
    justify-content: space-between;   
}

.product-list-secondary {
    display: flex;
    justify-content: space-between;    
}

.price-strikethrough {
    width: 69px;
    color: lightgray;
}

.product-item {
    margin: 10px;
    width: 300px;
    height: 480px;
    position: relative;
}

.product-image {
    width: 292px;
    height: 321px;
    left: 436px;
    top: 332px;
}

.product-discount {
    font-family: 'Inter';
    position: absolute;
    top: 35px;
    left: 10px;
    width: 96px;
    height: 32px;
    text-align: center;
    background-color: #E7FF86;
    padding: 10px 15px;
    border-radius: 29px;
    font-size: small;
}

.product-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8F8F8F;
    margin-top: -30px;
}

.product-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;    
}

.product-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #1F1F1F;
}

@media (max-width: 768px) {
    .product-list,
    .product-list-secondary {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .product-item {
        width: 45%;
        height: 350px;
        margin: 8px;
        min-width: 150px;
    }
    
    .product-title {
        font-size: 11px;
    }
    
    .product-description {
        font-size: 18px;
    }
    
    .product-price {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .product-item {
        width: 100%;
        height: 320px;
        margin: 5px 0;
    }
    
    .product-discount {
        font-size: 10px;
        padding: 8px 12px;
    }
}
