.productBox {
    margin: 0 71px;
    padding-top: 50px;
    margin-top: 35px;
}

.contentBox {
    display: flex;
    justify-content: space-between;
}

.productResults {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #474747;
}

.productCountGray {
    opacity: 0.5;
}

.filter-by {
    width: 308px;
}

.headerBox {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .productBox {
        margin: 0 20px;
        padding-top: 20px;
        margin-top: 20px;
    }
    
    .contentBox {
        flex-direction: column;
    }
    
    .filter-by {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .headerBox {
        flex-wrap: wrap;
        gap: 10px;
    }
}
