.offers-1 {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 71px;
  padding: 0;
  height: 553px;
  background-color: #ffffff;
}

.left {
  flex: 1;
  display: flex;
  margin-right: 50px;
  margin-top: 190px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.right {
 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: #c92071;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: left;
}

.text1 {
  color: #474747;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}

.text2 {
  color: #474747;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: left;
}

.button-offers {
  height: 40px;
  width: 200px;
  left: 0px;
  top: 0px;
  border: 0;
  border-radius: 8px;
  background-color: #c92071;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #f5f5f5;
  cursor: pointer;
}

.sneaker {
  width: 573px;
  height: 330px;
  z-index: 1;
  margin-top: 30px;
}

.elipse {
  position: absolute;
  top: -190px;
  left: 20px;
  width: 466px;
  height: 466px;
  z-index: 0;
}

.wrapper-content {
  margin-bottom: 15px;
}

.wrapper-content1 {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
    .offers-1 {
        flex-direction: column;
        height: auto;
        margin: 0 20px;
        padding: 20px 0;
    }
    
    .left,
    .right {
        flex: 1 1 100%;
        margin: 20px 0;
    }
    
    .left {
        margin-right: 0;
        margin-top: 0;
    }
    
    .text1 {
        font-size: 32px;
        line-height: 36px;
    }
    
    .text2 {
        font-size: 14px;
        line-height: 24px;
    }
    
    .button-offers {
        width: 100%;
        max-width: 200px;
    }
    
    .sneaker {
        width: 90%;
        height: auto;
        max-width: 300px;
    }
    
    .elipse {
        width: 250px;
        height: 250px;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.wrapper-content2 {
  margin-bottom: 30px;
}