.headerWrapper { 
    width: 100%;
}

.containerMainHeader { 
    margin: 0px 71px;
}

.compactHeaderLayout { 
    margin: 0px 71px;
    width: 100%;
    height: 60px;
}

@media (max-width: 768px) {
    .containerMainHeader {
        margin: 0px 20px;
    }
    
    .compactHeaderLayout {
        margin: 0px 20px;
    }
}
