.carousel-main {
    height: 100%;
    padding-bottom: 100px;
    margin-bottom: 1px;
    margin-top: 35px;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.ball {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 1080px;
    top: 100px;
    z-index: 0;
}

.tenis {
    display: flex;
    padding-left: 460px;
    margin-top: -80px;
    
}

.caption-left {
    flex-direction: column;
    justify-content: center;
    bottom: 100px;
    left: 150px;
}

.phrase1 {
    color: #F6AA1C;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: left;
}

.phrase2 {
    color: #1F1F1F;
    font-size: 64px;
    font-weight: 1000;
    line-height: 66px;
    font-family: Inter;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
}

.phrase3 {
    color: #474747;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    margin: 10px 0;
}

.offer-button {
    height: 48px;
    width: 220px;
    border: 0;
    border-radius: 8px;
    background-color: #c92071;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    margin-top: 20px;
}

.phrase-wrapper1,
.phrase-wrapper2,
.phrase-wrapper3,
.button-wrapper {
    text-align: left;
    margin-left: 0;
}

.carousel-indicators .active {
    background-color: #c92071;
}

.carousel-indicators [data-bs-target] {
    background-color: #c92071;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    
}

.carousel-indicators [aria-current=false] {
    background-color: #ccc !important;
}

@media (max-width: 768px) {
    .carousel-main {
        padding-bottom: 50px;
        margin-top: 20px;
    }
    
    .ball {
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50px;
    }
    
    .tenis {
        padding-left: 0;
        margin-top: 0;
        justify-content: center;
    }
    
    .phrase2 {
        font-size: 32px;
        line-height: 40px;
    }
    
    .phrase3 {
        font-size: 14px;
    }
    
    .offer-button {
        width: 100%;
        max-width: 200px;
    }
}
